:root {
  --primary-color: #171717;
  --secondary-color: #242424;
  --text-color: white;
}

body {
  margin: 0;
  padding: 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
}
#conversation {
  background-color: var(--primary-color);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 60px 1fr 60px;
}
#conversation > * {
  outline: 1px solid white;
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}